p {
    font-size: 12px;
}
.header {
    mat-grid-tile {
        p {
            font-weight: bold;
            font-size: 14px;
        }
    }   
}


span {
    font-size: 12px; 
}

.box-normal {
    width: 30%; 
    height: 20px; 
    border-radius: 15px; 
    background-color:  #036f33; 
    display: flex; 
    justify-content: center; 
    align-items: center;

    .text-truncate{
        color: #ffffff ;
        font-size: 10px;
    }
}

.box-danger {
    width: 30%; 
    height: 20px; 
    border-radius: 15px; 
    background-color:  #66000a; 
    display: flex; 
    justify-content: center; 
    align-items: center;

    .text-truncate{
        color: #ffffff ;
        font-size: 10px;
    }
}
