#customers {
    border-collapse: collapse;
    width: 1550px;
}
#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 11px;
}

#customers tr:nth-child(even) {
    background-color: #ffffff;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
