.example-margin {
    margin: 8px;
}

.ng-select .ng-select-container {
    min-height: 55px;
    font-size: 16px !important;
    margin-bottom: 5px;
}

.ng-dropdown-panel {
    min-width: 100%;
    min-height: 100%;
}
