<div *ngIf='dataInformation.length < 1' style="height: 30vh; overflow: auto; display: flex; align-items: center; justify-content: center;">
    <img src="assets/images/gif/loading.gif" style="width: 200px; height: auto;" />
</div>
 <div style="width: 100%; height: 30vh; overflow: auto; display: flex; justify-content: flex-start; align-items: center; flex-direction: column;" *ngIf='dataInformation.length > 0'>
    <div style="font-weight: bold; padding: 5px; font-size: 14px;">
        Lab Status
    </div>
 <table id="customers">
     <thead>
         <tr>
             <th>No</th>
             <th>Date</th>
             <th>Status</th>
             <th>User</th>
         </tr>
     </thead>
     <tbody *ngFor="let o of dataInformation; let i = index;">
        <tr>
            <td>{{i+1}}</td>
            <td>{{o.inserted_at}}</td>
            <td *ngIf="o.status == 0"> Preparation </td>
            <td *ngIf="o.status == 1"> in Lab </td>
            <td *ngIf="o.status == 2"> Approved in Lab </td>
            <td *ngIf="o.status == 3"> Approved By Manager Lab </td>
            <td>{{o.user}}</td>
        </tr>
     </tbody>
 </table>
</div>