.pricing-table {
    border-collapse: collapse;
    width: 90%; 
}

.pricing-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.pricing-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.pricing-table tr:hover {
    background-color: #ddd;
}