<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <form
        name="levelForm"
        [formGroup]="levelForm"
        class="product w-100-p"
        fxLayout="column"
        fxFlex
    >
                <mat-form-field
                    appearance="outline"
                    floatLabel="always"
                    class="w-100-p"
                >
                    <mat-label>Level Name</mat-label>
                    <input
                        matInput
                        placeholder="Put Level Name"
                        formControlName="level_name"
                    />
                </mat-form-field>
                <mat-form-field
            appearance="outline"
            floatLabel="always"
            class="w-100-p"
        >
            <mat-label style="color: black">Company</mat-label>
            <mat-select
                formControlName="company_name"
                placeholder="Set Company"
            >
                <mat-option [value]="o.id" *ngFor="let o of sisterCompany">{{
                    o.company_name
                }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="serviceAct()">Save</button>
        <div style="width: 30px"></div>
        <button mat-raised-button color="danger" (click)="close()">
            Cancel
        </button>
    </div>
</div>
