    <mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
    <mat-grid-tile>
        <ng-select 
            [(ngModel)]="employeechoose"
            appearance="outline"
            appendTo="body" 
            [items]="employee" 
            bindLabel="employee_name"
            bindValue="id_employee"
            placeholder="Select Employee" 
            dropdownPosition="bottom" 
            (change)="getValEmployee($event)"
            style="width: 100%;">
        </ng-select>
    </mat-grid-tile>
    <mat-grid-tile>
        <ng-select 
            [(ngModel)]="statusattendance"
            appearance="outline"
            appendTo="body" 
            [items]="datastatus" 
            bindLabel="value"
            bindValue="id"
            placeholder="Select Status" 
            (change)="getValStatus($event)"
            dropdownPosition="bottom" 
            style="width: 100%;">
        </ng-select>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>From</mat-label>
            <input matInput [(ngModel)]="from" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>To</mat-label>
            <input matInput [(ngModel)]="to" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Desc</mat-label>
            <textarea matInput [(ngModel)]="desc"></textarea>
          </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<div
        fxLayout="row"
        fxLayoutAlign="center center"
        style="width: 100%; margin-top: 10px"
    >
        <button mat-raised-button color="primary" (click)="saveData()">Save</button>
        <div style="width: 10px;"></div>
        <button mat-raised-button color="danger" (click)="close()">Cancel</button>
    </div>