<div id="certificate"  class="page-layout simple"  style="overflow: auto; height: 100%; background-color: #f7f7f7;">
    <div class="content">   
        <mat-card class="mat-elevation-z0"  style="width: 90%; margin: 20px auto 10px auto;">
            <div fxLayout="column" fxLayoutAlign="space-evenly none">
                <form name="resultForm" class="product w-100-p" fxLayout="column" fxFlex>
                    <div fxLayout="row" fxLayoutAlign="space-between center">

                        <mat-form-field appearance="outline" style="font-size: 12px;" fxFlex fxFlex="33">
                            <mat-label>Contract Number</mat-label>
                            <input matInput 
                            #filter 
                            [(ngModel)]="this.dataFilter.marketing"
                            name="contract_number"
                            placeholder="Contract Number">
                        </mat-form-field>
                        
                        <ng-select 
                        appearance="outline"
                        appendTo="body"  
                        bindLabel="customer_name" 
                        bindValue="id_customer"                     
                        fxFlex="33" fxHide fxShow.gt-xs
                        [clearable]="false"                     
                        [items]="customersData"
                        [(ngModel)]="this.dataFilter.customer"
                        placeholder="Select Customer" 
                        (scrollToEnd)="onScrollToEnd('customer')" 
                        (search)="onsearchselect($event,'customer')"
                        name="customer"
                        dropdownPosition="bottom" 
                        style="display: flex; justify-content: center; align-items: center;">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{item.customer_name}}
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item">
                                {{item.customer_name}}
                            </ng-template>
                        </ng-select> 

                        <mat-form-field appearance="outline" style="font-size: 12px;" fxFlex fxFlex="33">
                            <mat-label>Sample Name</mat-label>
                            <input matInput 
                            #filter 
                            [(ngModel)]="this.dataFilter.sample_name"
                            name="sample_name"
                            placeholder="Sample Name">
                        </mat-form-field>

                                                                
                    </div>

                    <div fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button 
                        color="primary"  
                        fxFlex="15"  fxFlex.xs="15" 
                        (click)="searchData()"
                        style="height: 40px; width:250px; margin-right:15px;">
                            Search
                        </button>
                        <button mat-stroked-button 
                        color="primary" 
                        fxFlex="15" fxFlex.xs="15" 
                        (click)="resetData()"
                        style="height: 40px;" >
                            Reset
                        </button>
                    </div>
                </form>

                </div>
            </mat-card>

            <mat-card class="mat-elevation-z0"  style="width: 90%; margin: 20px auto 10px auto;">

                <div fxLayout="row" fxLayoutAlign="space-between center" >
                    <div style="margin-bottom:40px;">
                        <span style="
                            font-weight: bold; 
                            color: #696969;" 
                        fxHide fxShow.gt-md>Following Sample</span>
                    </div>
                <div style="margin-bottom:40px;" fxLayout="row" fxLayoutAlign="space-evenly center" >
                    <button mat-icon-button  matTooltip="Push to Certificate" (click)="aproveSelectSample()" *ngIf="this.checkList.length > 0" >
                        <mat-icon style="color: #696969;">check_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button  matTooltip="Cancel"  (click)="cancelSelect()" *ngIf="this.checkList.length > 0">
                        <mat-icon style="color: #696969;">cancel</mat-icon>
                    </button>
                </div>
                </div>
                <div style="margin-bottom:40px;" fxLayout="row" fxLayoutAlign="space-evenly center" >
                    <mat-table class="cert-table" #table [dataSource]="certData" matSort (matSortChange)="sortData($event)"
                    [@animateStagger]="{value:'50'}" fusePerfectScrollbar >
                
                    <!-- Column -->
                    <ng-container matColumnDef="checkbox">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="checkbox"><mat-checkbox class="example-margin" 
                            (change)="setAll($event.checked)"
                            (change)="someComplete()"
                            ></mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let certData">
                            <mat-checkbox class="example-margin"
                            [(ngModel)]="certData.completed"
                            (ngModelChange)="updateAllComplete()"
                            (change)="checkBox($event.checked, certData.id)"
                            ></mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="contract_no">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="contract_no">Contract</mat-header-cell>
                        <mat-cell *matCellDef="let certData">
                            <p class="text-truncate" matTooltip="{{ certData.kontrakuji.contract_no }}">{{ certData.kontrakuji.contract_no }}</p>
                        </mat-cell>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="sample_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="sample_name">Sample</mat-header-cell>
                        <mat-cell *matCellDef="let certData">
                            <div fxLayout="column">
                                <span class="text-truncate" matTooltip="{{ certData.sample_name }}">{{ certData.sample_name }}</span>
                                <span class="text-truncate" matTooltip="{{ certData.no_sample }}"
                                    style="color: f5f5f5; font-size: 10px;">{{ certData.no_sample }}
                                </span>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="customer_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="customer_name" fxHide fxShow.gt-md>Customer</mat-header-cell>
                        <mat-cell *matCellDef="let certData" fxHide fxShow.gt-md>
                            <div fxLayout="column">
                                <span class="text-truncate" matTooltip="{{ certData.kontrakuji.customers_handle.customers.customer_name }}">{{ certData.kontrakuji.customers_handle.customers.customer_name }}</span>
                                <span class="text-truncate" matTooltip="{{ certData.kontrakuji.customers_handle.contact_person.name }}"
                                    style="color: f5f5f5; font-size: 10px;">{{ certData.kontrakuji.customers_handle.contact_person.name }}
                                </span>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header="action" fxHide fxShow.gt-md>Approve Lab</mat-header-cell>
                        <mat-cell *matCellDef="let certData" fxHide fxShow.gt-md>
                            <p class="text-truncate" matTooltip="{{ certData.condition_contract_lab.inserted_at | date: 'short' }}">{{ certData.condition_contract_lab.inserted_at | date: 'short' }}</p>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                    <mat-row *matRowDef="let certData; columns: displayedColumns;" 
                    class="standart"
                    matRipple>

                    </mat-row>
                </mat-table>
                
            </div>
            <div>
                <mat-paginator #paginator
                    [length]="total"
                    [pageIndex]="from"
                    [pageSize]="to"
                    [hidePageSize]="true"
                    [showFirstLastButtons]="true"
                    (page) = "paginated($event)"
                    *ngIf="this.total > 0">
                </mat-paginator>
            </div>           

            <div *ngIf="loadingfirst && this.certData.length === 0" style="width: 20%; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: auto; display: block; text-align: center;">
                <img  src="assets/images/gif/loading.gif" />
                <small>Please Wait ...</small>
            </div>

            <div *ngIf="!loadingfirst && this.certData.length === 0" style="width: 20%; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: auto; display: block; text-align: center;">
                <img  src="assets/images/gif/selectfile.gif" />
                <small>No Data</small>
            </div>
        </mat-card>
    </div>
</div>