<mat-card style="margin: 15px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field
            appearance="outline"
            fxFlex="33"
            style="margin-right: 10px; font-size: 11px"
        >
            <mat-label> <mat-icon>search</mat-icon>Search Level</mat-label>
            <input
                matInput
                [(ngModel)]="search"
                (input)="onSearchChange($event.target.value)"
                type="search"
            />
        </mat-form-field>
        <button
            mat-flat-button
            color="primary"
            style="margin-right: 10px"
            matTooltip="Add Level"
            (click)="addnew()"
        >
            <mat-icon>add_box</mat-icon>
        </button>
    </div>
    <table
        mat-table
        [dataSource]="datalevel"
        [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar
        matSort (matSortChange)="sortData($event)"
        #table
        style="width: 100%"
    >
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let a; let i = index">
                <p class="text-truncate">{{ i + 1 }}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="level_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="level_name">Level Name</th>
            <td mat-cell *matCellDef="let a">
                <p class="text-truncate">{{ a.level_name }}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
                Action
            </th>
            <td mat-cell *matCellDef="let a">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-icon-button color="primary" (click)="addnew(a)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <div>
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="deleteaction(a)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let a; columns: displayedColumns"></tr>
    </table>

</mat-card>
