<div style="width: 100%; padding: 0px 20px">
    <ngx-spinner
        bdColor="rgba(255,255,255,1)"
        size="medium"
        color="#000"
        type="ball-clip-rotate-multiple"
        [fullScreen]="false"
    ></ngx-spinner>
    <mat-grid-list cols="5" rowHeight="70px" gutterSize="5px">
        <mat-grid-tile>
            <ng-select
                appendTo="body"
                appearance="outline"
                [items]="datacontractcategory"
                bindLabel="title"
                bindValue="id_contract_category"
                placeholder="Select Category"
                dropdownPosition="bottom"
                [(ngModel)]="datasent.contractcategory"
                (change)="setValueContract($event)"
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 12px;
                "
            >
            </ng-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                <div class="border-search">
                    <input
                        type="text"
                        placeholder="Search Contract / No Complain"
                        (keyup.enter)="searching()"
                        [(ngModel)]="datasent.search"
                        style="width: 100%; text-align: center"
                    />
                </div>
                <div style="width: 20px"></div>
                <button
                    mat-mini-fab
                    color="primary"
                    (click)="searching()"
                    style="align-self: center"
                >
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <button mat-raised-button (click)="onRefresh()">
                <span style="color: rgb(104, 146, 19)">Refresh</span>
            </button>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field
                appearance="fill"
                style="width: 100%; font-size: 12px"
            >
                <mat-label>Estimasi Complain</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    [(ngModel)]="datasent.estimasi_lab"
                    (dateChange)="tglEstimasiLabChange()"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
       
        <mat-grid-tile>
            <mat-form-field
                appearance="fill"
                style="width: 100%; font-size: 12px"
            >
                <mat-label>Select Status Complain</mat-label>
                <mat-select (selectionChange)="setStatusPrep($event)" [(ngModel)]="this.datasent.status_prep">
                    <mat-option value="all">All</mat-option>
                    <mat-option value="1">Uji Ulang</mat-option>
                    <mat-option value="2">Tidak Uji Ulang</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <ng-select
                appendTo="body"
                appearance="outline"
                [items]="dataparameter"
                bindLabel="name_id"
                bindValue="id"
                placeholder="Select Parameteruji"
                [(ngModel)]="datasent.id_parameteruji"
                (search)="onsearchselect($event, 'parameter')"
                (change)="setValParameterUji($event)"
                (scrollToEnd)="onScrollToEndSelect('parameter')"
                dropdownPosition="bottom"
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 12px;
                "
            >
            </ng-select>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div style="width: 100%; display: flex; justify-content: flex-end">
                <mat-button-toggle-group
                    name="fontStyle"
                    aria-label="Font Style"
                >
                    <button
                        mat-stroked-button
                        color="primary"
                        [disabled]="this.checkedparam > 0 ? false : true"
                        (click)="actionSave('ntrm')"
                    >
                        Save ( {{ this.checkedparam }} )
                    </button>
                    <button
                        mat-stroked-button
                        color="primary"
                        [disabled]="this.checkedparam > 0 ? false : true"
                        (click)="actionSave('rm')"
                    >
                        Save & Approve ( {{ this.checkedparam }} )
                    </button>
                    <button mat-stroked-button color="primary">Cancel</button>
                </mat-button-toggle-group>
            </div>
        </mat-grid-tile>
        
    </mat-grid-list>
</div>
<div
    style="height: 70vh; overflow-y: auto; scrollbar-width: thin; width: auto"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll($event)"
    [scrollWindow]="false"
>
    <table id="customerset" *ngIf="this.datacomplain.length > 0">
        <thead>
            <tr>
                <th width="2%">
                    <mat-checkbox
                        class="checkbox-control"
                        color="primary"
                        (change)="checkAll($event.checked, 'all')"
                    ></mat-checkbox>
                </th>
                <th width="3%">Status</th>
                <th width="3%">Info</th>
                <th width="10%">Sample Name</th>
                <th width="3%">Matriks</th>
                <th width="3%">Estimasi Complain</th>
                <th width="5%">Hasil Uji Awal</th>
                <th width="5%">AR Uji Ulang</th>
                <th width="5%">Hasil Uji Ulang</th>
                <th width="5%">Complain</th>
                <th width="3%">Expetation</th>
                <th width="5%">Satuan</th>
                <th width="10%">Metode</th>
                <th width="5%">Lod</th>
                <th width="5%">Memo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of datacomplain; let e = index">
                <td align="center">
                    <mat-checkbox
                        [checked]="d.checked"
                        (change)="checkAll($event.checked, d, e)"
                        [disabled]="d.status_prep == '3' ? true : false"
                    ></mat-checkbox>
                </td>
                <td>
                    <div
                        style="
                            display: flex;
                            width: 100%;

                            align-items: flex-start;
                            justify-content: center;
                            gap: 5px;
                            flex-direction: column;
                        "
                        *ngIf="d.status_prep == '3' || d.status_prep == '4'"
                    >
                        <span>Uji Ulang</span>
                    </div>
                    <div
                        style="
                            display: flex;
                            width: 100%;

                            align-items: flex-start;
                            justify-content: center;
                            gap: 5px;
                            flex-direction: column;
                        "
                        *ngIf="
                            d.status_prep == '0' ||
                            d.status_prep == '1' ||
                            d.status_prep == '2'
                        "
                    >
                        <mat-select
                            [(ngModel)]="d.status_prep"
                            *ngIf="
                                d.status_prep == '0' ||
                                d.status_prep == '1' ||
                                d.status_prep == '2'
                            "
                        >
                            <mat-option value="0">Investigate</mat-option>
                            <mat-option value="1">Tidak Uji Ulang</mat-option>
                            <mat-option value="2">Uji Ulang</mat-option>
                        </mat-select>
                    </div>
                </td>
                <td>
                    <div
                        style="
                            width: 100%;
                            display: flex;
                            justify-content: space-between center;
                        "
                    >
                        <div
                            fxFlex
                            fxLayout="column"
                            fxLayoutAlign="center start"
                        >
                            <span style="font-size: 10px; font-weight: bold">{{
                                d.complain_no
                            }}</span>
                            <span style="font-size: 9px">{{
                                d.complain_date | date
                            }}</span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div
                                style="
                                    width: 20px;
                                    height: 5px;
                                    border-radius: 5px;
                                    background-color: #a1ac05;
                                "
                                *ngIf="d.status_prep === '3'"
                            ></div>
                            <div
                                style="
                                    width: 20px;
                                    height: 5px;
                                    border-radius: 5px;
                                    background-color: #067e06;
                                "
                                *ngIf="d.status_prep === '4'"
                            ></div>
                            <button
                                mat-icon-button
                                [mdePopoverTriggerFor]="appPopover"
                                mdePopoverTriggerOn="click"
                                #popoverTrigger="mdePopoverTrigger"
                            >
                                <mat-icon>info</mat-icon>
                            </button>
                            <mde-popover
                                #appPopover="mdePopover"
                                [mdePopoverOverlapTrigger]="false"
                            >
                                <mat-card style="max-width: 400px">
                                    <mat-card-content>
                                        <div
                                            style="
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: flex-start;
                                            "
                                        >
                                            <div
                                                style="
                                                    display: flex;
                                                    flex-direction: row;
                                                    align-items: center;
                                                    gap: 5px;
                                                "
                                            >
                                                <span
                                                    style="
                                                        color: rgb(
                                                            65,
                                                            105,
                                                            225
                                                        );
                                                        cursor: pointer;
                                                        font-size: 10px;
                                                        font-weight: bold;
                                                    "
                                                    (click)="
                                                        goToDetailContract(
                                                            d.complaindet
                                                                .transactionparameter
                                                                .transaction_sample
                                                                .id_contract
                                                        )
                                                    "
                                                    >{{ d.contract_no }}</span
                                                >
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </mde-popover>
                        </div>
                    </div>
                </td>
                <td>
                    <div
                        style="
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            align-items: flex-start;
                        "
                    >
                        <div
                            style="
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                                gap: 5px;
                            "
                        >
                            <span
                                style="
                                    font-size: 10px;
                                    font-weight: bold;
                                    color: rgb(65, 105, 225);
                                    cursor: pointer;
                                "
                                (click)="goToModalPhoto(d.id_sample)"
                                >{{ d.no_sample }}
                            </span>
                            <span style="font-size: 10px">-</span>
                            <span style="font-size: 10px">{{
                                d.sample_name
                            }}</span>
                        </div>
                        <span
                            style="
                                font-size: 10px;
                                font-weight: bold;
                                color: #b60303;
                            "
                            >{{ d.name_id }} {{ d.position }}</span
                        >
                    </div>
                </td>
                <td align="center">
                    <span style="font-size: 10px">{{ d.matriks }}</span>
                </td>
                <td align="center">
                    <span>{{ d.estimate_date | date }}</span>
                </td>
                <td align="center">
                    <div
                        style="
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            width: 100%;
                        "
                    >
                        <span style="font-size: 12px; font-weight: bold"
                            >Hasil : {{ d.hasiluji_awal }}</span
                        >
                        <span
                            style="
                                font-size: 10px;
                                font-style: italic;
                                margin-top: 5px;
                            "
                            >AR :
                            {{ d.actual_result ? d.actual_result : "-" }}</span
                        >
                    </div>
                </td>

                <td align="center">
                    <mat-form-field
                        appearance="fill"
                        style="width: 90%; font-size: 12px"
                    >
                        <mat-label>AR Ulang</mat-label>
                        <input matInput [(ngModel)]="d.complain_arresult" />
                    </mat-form-field>
                </td>
                <td align="center">
                    <mat-form-field
                        appearance="fill"
                        style="width: 90%; font-size: 12px"
                    >
                        <mat-label>Hasiluji Ulang</mat-label>
                        <input matInput [(ngModel)]="d.complain_result" />
                    </mat-form-field>
                </td>
                <td>
                    <span>{{
                        d.complain_desc == 1
                            ? "Hasil Ketinggian"
                            : d.complain_desc == 2
                            ? "Hasil Rendah"
                            : "Tidak Sesuai Spec"
                    }}</span>
                </td>

                <td>
                    <textarea
                        matInput
                        [(ngModel)]="d.expectation"
                        [disabled]="true"
                    ></textarea>
                </td>

                <td align="center">
                    <ng-select
                        appendTo="body"
                        appearance="outline"
                        [items]="dataunit"
                        bindLabel="nama_unit"
                        bindValue="id_unit"
                        placeholder="Select Satuan"
                        dropdownPosition="bottom"
                        [(ngModel)]="d.id_unit"
                        style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 90%;
                            font-size: 12px;
                        "
                    >
                    </ng-select>
                </td>

                <td align="center">
                    <ng-select
                        appendTo="body"
                        appearance="outline"
                        [items]="datametode"
                        bindLabel="metode"
                        bindValue="id_metode"
                        placeholder="Select Metode"
                        dropdownPosition="bottom"
                        [(ngModel)]="d.metode"
                        style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 90%;
                            font-size: 12px;
                        "
                    >
                    </ng-select>
                </td>

                <td align="center">
                    <ng-select
                        appendTo="body"
                        appearance="outline"
                        [items]="datalod"
                        bindLabel="nama_lod"
                        bindValue="id_lod"
                        placeholder="Select Lod"
                        dropdownPosition="bottom"
                        [(ngModel)]="d.id_lod"
                        style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 90%;
                            font-size: 12px;
                        "
                    >
                    </ng-select>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Memo</mat-label>
                        <textarea matInput [(ngModel)]="d.memo"></textarea>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
    <div
        *ngIf="this.datacomplain.length < 1"
        style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-direction: column;
        "
    >
        <img style="width: 20%" src="assets/images/gif/selectfile.gif" />
        <span>Data Not found</span>
    </div>
</div>
