<mat-grid-list cols="2" gutterSize="7px" rowHeight="100px">
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Select Month</mat-label>
            <mat-select [(ngModel)]="monthSelect">
              <mat-option *ngFor="let o of bulan" value="{{o.id}}">{{o.bulan}}</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Set Year</mat-label>
            <input matInput placeholder="Set Year Ex. 2012" [(ngModel)]="yearSelect" type="number">
          </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<div
fxLayout="row"
fxLayoutAlign="center center"
style="width: 100%; margin-top: 10px"
>
<button mat-raised-button color="primary" (click)="saveData()">Download</button>
<div style="width: 20px;"></div>
<button mat-raised-button color="danger" (click)="close()">Cancel</button>
</div>
