<div id="preparation" class="page-layout simple">
    <div class="content">
        <mat-card style="margin: 0px;" >
            <form name="resultForm"  class="product w-100-p" fxLayout="column" fxFlex>
                <div fxLayout="column" fxLayoutAlign="space-evenly none">
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                        <mat-form-field appearance="outline" style="font-size: 11px;" fxFlex fxFlex="38">
                            <mat-label>Marketing</mat-label>
                            <input matInput 
                            #filter 
                            [(ngModel)]="dataFilter.marketing"
                            name="marketing"
                            placeholder="Marketing Number">
                        </mat-form-field>
        
                        <ng-select appendTo="body" 
                        [items]="customersData" 
                        class="auto-grow"
                        bindValue="id_customer" 
                        bindLabel="customer_name" 
                        fxFlex="35" fxHide fxShow.gt-xs
                        appearance="outline" 
                        placeholder="Customer"
                        [(ngModel)]="dataFilter.customer"
                        name="customer"
                        dropdownPosition="bottom"  
                        (scrollToEnd)="onScrollToEnd('customer')" 
                        (search)="onsearchselect($event,'customer')"
                        (clear)="reset('customer')"
                        style="display: flex;
                        justify-content: center;
                        align-items: center;">
                            <ng-template ng-option-tmp let-item="item" let-index="index">
                                {{item.customer_name}}
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item">
                                {{item.customer_name}}
                            </ng-template>
                        </ng-select>    
                        
                        <mat-form-field appearance="outline" style="font-size: 11px" fxFlex="25">
                            <mat-label>Category</mat-label>
                                <mat-select placeholder="Category"
                                [(ngModel)]="dataFilter.category"
                                name="category"
                                (clear)="reset('category')"
                                class="select-me"
                                style="display: flex;
                                justify-content: center;
                                align-items: center; width: 100%;
                                color:white !important;">
                                <mat-option *ngFor="let contractcategory of contractcategory" [value]="contractcategory.id">
                                   ( {{ contractcategory.category_code }} ) {{ contractcategory.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top:-15px;">

                        <mat-form-field appearance="outline" style="font-size: 11px;" fxFlex fxFlex="36">
                            <mat-label>Sample Name</mat-label>
                            <input matInput 
                            #filter 
                            [(ngModel)]="dataFilter.sample_name"
                            name="sample_name"
                            placeholder="Sample Name">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline" style="font-size: 11px;" fxFlex fxFlex="36">
                            <mat-label>Sample Number</mat-label>
                            <input matInput 
                            #filter 
                            [(ngModel)]="dataFilter.sample_number"
                            name="sample_number"
                            placeholder="Sample Number">
                        </mat-form-field>

        
                        <button mat-raised-button color="accent"  fxFlex="12"  fxFlex.xs="23" style="height: 40px; width:250px; margin-top: -13px;" (click)="searchButton()">
                            Search
                        </button>
                        <button mat-raised-button color="warn" fxFlex="12"  fxFlex.xs="23" style="height: 40px; width: 100%; margin-top: -13px;" (click)="cancelSearchMark()">
                            Reset
                        </button>                        
                    </div>
                </div>            
        </form>
        </mat-card>
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between center" >
                <div>
                    <span style="font-weight: bold; color: #303030; margin-right: 10px;" fxHide fxShow.gt-md>Preparation &nbsp; | </span>
                    <button mat-icon-button fxHide fxShow.gt-md matTooltip="Refresh" style="margin-right: 10px;" (click)="refreshPage()">
                        <mat-icon style="color: #303030; ">refresh</mat-icon>
                    </button>
                    <button mat-icon-button fxHide fxShow.gt-md
                    matTooltip="Export History Preparation" 
                    style="margin-left: -20px;"
                    (click)="ReportModals()">
                        <mat-icon style="color: #303030;"><mat-icon>date_range</mat-icon></mat-icon>
                    </button>
                </div>
                <div>
                    <mat-paginator
                    [length]="this.total"
                    [pageSize]="this.to"
                    [pageIndex]="this.current_page"
                    hidePageSize="true"
                    (page)="pageEvent = $event; paginated($event)"
                >
                </mat-paginator>
                </div>
            </div>
            
           
        </mat-card>
        <mat-card>
            <mat-table class="lab-table" #table [dataSource]="preparationData" matSort (matSortChange)="sortData($event)"
            [@animateStagger]="{value:'50'}" fusePerfectScrollbar *ngIf="this.preparationData.length > 0">
    
            <!-- Column -->
            <ng-container matColumnDef="nama_prinsipal">
                <mat-header-cell *matHeaderCellDef mat-sort-header="nama_prinsipal">Customer Name</mat-header-cell>
                <mat-cell *matCellDef="let preparationData">
                    <div fxLayout="column">
                        <span class="text-truncate" matTooltip="{{preparationData.customers_handle.customers.customer_name}}">{{preparationData.customers_handle.customers.customer_name}}</span>
                        <span class="text-truncate" matTooltip="{{preparationData.customers_handle.contact_person.name}}"
                            style="color: f5f5f5; font-size: 10px; font-style: italic;">{{ preparationData.customers_handle.contact_person.name}}</span>
                    </div>
                </mat-cell>
            </ng-container> 

            <!-- Column -->
            <ng-container matColumnDef="no_kontrakuji">
                <mat-header-cell *matHeaderCellDef mat-sort-header="no_kontrakuji">Contract Number</mat-header-cell>
                <mat-cell *matCellDef="let preparationData">
                    <div fxLayout="column">
                        <span class="text-truncate" matTooltip="{{preparationData.contract_no}}">{{preparationData.contract_no}}</span>
                        <span class="text-truncate" matTooltip="{{preparationData.contract_category.title}}"
                            style="color: f5f5f5; font-size: 10px; font-style: italic;">{{ preparationData.contract_category.title}}</span>
                    </div>
                </mat-cell>
            </ng-container> 

            <!-- Column -->
              <ng-container matColumnDef="user_kendali">
                <mat-header-cell *matHeaderCellDef mat-sort-header="user_kendali">Control User</mat-header-cell>
                <mat-cell *matCellDef="let preparationData" >
                    <div fxLayout="column">
                        <span class="text-truncate" matTooltip="{{preparationData.condition_contract_preparation.user.employee_name}}">{{preparationData.condition_contract_preparation.user.employee_name}}</span>
                        <span class="text-truncate" matTooltip="{{preparationData.condition_contract_preparation.inserted_at | date }}"
                            style="color: f5f5f5; font-size: 10px; font-style: italic;">{{ preparationData.condition_contract_preparation.inserted_at | date }}</span>
                    </div>
                </mat-cell>
            </ng-container>

            

             <!-- Column -->
             <ng-container matColumnDef="progress">
                <mat-header-cell *matHeaderCellDef mat-sort-header="progress">Progress</mat-header-cell>
                <mat-cell *matCellDef="let preparationData" >
                    <div class="box-info" *ngIf="preparationData.count_preparation.length ==  preparationData.count_samplelab.length ; else elseProgress" >
                        <p class="text-truncate" matTooltip="{{ preparationData.count_preparation.length }} / {{  preparationData.count_preparation.length }}">
                            {{ preparationData.count_preparation.length }} / {{  preparationData.count_samplelab.length }}
                        </p>
                    </div>
                    <ng-template #elseProgress>
                        <div class="box-very-urgent">
                            <p class="text-truncate" matTooltip="{{ preparationData.count_preparation.length }} / {{  preparationData.count_preparation.length }}">
                                {{ preparationData.count_preparation.length }} / {{  preparationData.count_samplelab.length }}
                            </p>
                        </div>
                    </ng-template>
                </mat-cell>
            </ng-container>

            
            <!-- Column -->
            <ng-container matColumnDef="statuses">
                <mat-header-cell *matHeaderCellDef mat-sort-header="statuses">Status</mat-header-cell>
                <mat-cell *matCellDef="let preparationData" >
                    <div fxLayout="column">
                        <button matTooltip="Prep Memo" style="color:green" *ngIf="preparationData.description_preparation.length > 0" mat-icon-button color="primary">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button matTooltip="Prep Memo" style="color:grey" *ngIf="preparationData.description_preparation.length < 1" mat-icon-button color="primary">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="ket_spesifikasi">
                <mat-header-cell *matHeaderCellDef mat-sort-header="appro_cso">Information</mat-header-cell>
                <mat-cell *matCellDef="let preparationData" >
                    <p matTooltip="{{preparationData.description_kendali.length > 0 ? preparationData.description_kendali[0].desc : '-'}}" style="text-overflow: unset; padding-right: 100px;" class="text-truncate isi">{{preparationData.description_kendali.length > 0 ? preparationData.description_kendali[0].desc : '-'}}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let preparationData; columns: displayedColumns;" class="lod" matRipple
               (click)="goDetail(preparationData.id_kontrakuji)"
            >
            </mat-row>
        </mat-table>

        <div *ngIf="loadingfirst && this.preparationData.length === 0" style="width: 20%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; display: block; text-align: center;">
            <img  src="assets/images/gif/loading.gif" />
            <small>Please Wait ...</small>
        </div>

        <div *ngIf="!loadingfirst && this.preparationData.length === 0" style="width: 20%; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; display: block; text-align: center;">
            <img  src="assets/images/gif/selectfile.gif" />
            <small>No Data</small>
        </div>

        </mat-card>

    </div>
</div>