
<div id="test" fxLayout="column" fxLayoutAlign="space-around center" >
    <!-- background image -->
    <img class="gfg" src="assets/images/dashboard.svg" style="width:70%;margin-top:50px; border-radius:25px;">        
    <!-- title and tag line with button -->
    <div class="logo">                    
        <h1>WELCOME, </h1>          
        <p style="margin-top:-30px;">A Products Portal in SIG Laboratory</p>
        <div fxLayout="row" fxLayoutAlign="center center" >
            <div style="background-color:#fff ;" style="width: 20%; margin-right: 50px; text-align: center;" matTooltip="Media RTU">
                <img src="assets/images/mediartu.svg"  style="margin-bottom: 20px;"/>
                <p style="font-size:11px;text-align:center;">Media RTU</p>
            </div>
            <div style="background-color:#fff ; text-align:center;" style="width: 20%;" matTooltip="Dioxin">
                <img src="assets/images/dioxin.svg"  />
                <p style="font-size:11px;text-align:center;">Dioxin</p>
            </div>
        </div>
    </div>
</div>