<div *ngIf="this.notshowing == false">
    <div style="margin-top: 100px; text-align: center;" *ngIf="this.load == true">
        <img  src="assets/images/loading.png" style=" width: 30%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px;"/>
        <!-- <img  src="assets/images/gif/load-block.gif" style=" width: 5%; display: block; margin:auto;"/> -->
        <span style="font-size: 13px; font-weight: 800; color:salmon;">Please Wait ...</span>
    </div>

    <div style="margin-top: 100px; text-align: center;" *ngIf="this.load == false">
        <img  src="assets/images/completed.png" style=" width: 30%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px;"/>
        <span style="font-size: 13px; font-weight: 800; color:salmon;">Completed</span>
    </div>
</div>
<div *ngIf="this.notshowing == true">
    <div style="margin-top: 100px; text-align: center;" *ngIf="this.load == false">
        <img  src="assets/images/holdcert.png" style=" width: 30%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px;"/>
        <span style="font-size: 24px; font-weight: 800; color:salmon;">Hold certificate! Please contact finance</span><br>
        <span>Telp 0251-7540927 or Email to paymentinfo-sig@saraswanti.com</span>
    </div>

    <div style="margin-top: 100px; text-align: center;" *ngIf="this.notactive == true">
        <img  src="assets/images/notactive.png" style=" width: 30%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px;"/>
        <span style="font-size: 24px; font-weight: 800; color:salmon;">Certificate Not active, Please Contact Admin Certificate</span><br>
        <span>Email to admin.sig@saraswanti.com</span>
    </div>
</div>