@import "src/@fuse/scss/fuse";

.photo-controls-modal{

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 720px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .slider-container {
        position:relative;
        height: 300px;
        width: 300px;
        overflow:hidden;
        border: 2px solid;
        border-radius: 10px;
      } 
     .slide {
        position:absolute;
      }

      .sampleuji-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .mat-header-cell {
            min-height: 64px;
            font-size: 12px;
            background-color: #1e2129;

            .mat-sort-header-button{
                color: #fff;
                font-weight: 800;
            }

            .mat-checkbox .mat-checkbox-frame {
                border-color: #fff;
            }
        }
    }

}