<div class="dialog-content-wrapper mat-primary m-0">
    
    <mat-toolbar matDialogTitle class="mat-primary m-0">
        <mat-toolbar-row>
            <span class="title dialog-title"> 
               {{ this.photoData[0].sample.kontrakuji.contract_no}} | {{  this.photoData[0].sample.no_sample }}
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <!-- we -->
        <mat-grid-list  [cols]="1" rowHeight='350px'> 
            <mat-grid-tile>          
                <button style="background-color: #3c4252; " mat-mini-fab (click)="previous()" >
                    <mat-icon>
                        arrow_back_ios
                    </mat-icon>
                </button> 
                <div [@slider]="selectedIndex" class="slider-container" style="margin: 20px 10px;">
                    <div class="slide" *ngFor="let image of images; let i = index"> 
                        <img style="max-width: 200%;" [src]="this.urls + image.sample.kontrakuji.contract_no + '/' + image.sample.no_sample + '/' +  image.photo " /> 
                    </div>
                </div> 
                <button style="background-color: #3c4252; " mat-mini-fab (click)="next()"  >
                    <mat-icon>
                        arrow_forward_ios
                    </mat-icon>
                </button>
                
            </mat-grid-tile>
    </mat-grid-list>
    
  
        <!-- we -->
    </div>
    
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button class="mat-accent" aria-label="Close" >
            CLOSE
        </button>
    </div>

  </div>