<div *ngIf="this.revFile" class="dialog-content-wrapper mat-primary m-0" style="overflow: hidden; height: 100%;">
    <div class="h2 font-weight-800 " style="margin: 20px 0 0 20px;">Upload Attachment</div>
    <span style="margin: 0 0 20px 20px; font-size: 11px; ">Attachment File Revision </span>
    <div style="border-bottom: 2px solid #fbfbfb;"></div>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar style="overflow: hidden; height: 100%;">
        
        <form name="revFile" [formGroup]="revFile" class="product w-100-p" fxLayout="column" fxFlex>
            <div class="h4 font-weight-800">Upload File</div>

            <div fxLayout="row" fxLayoutAlign="start center" >
                <ngx-dropzone 
                    (change)="uploadGambar($event)" 
                    fxFlex="100"  
                    type="file" 
                    id="fileAttachment">
                    <ngx-dropzone-preview *ngFor="let f of files" 
                    [removable]="true" 
                    (removed)="onRemove(f)">
                    <ngx-dropzone-label>Drop it!</ngx-dropzone-label>
                        <ngx-dropzone-label>{{ f.name }} 
                            ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>

            <div class="h4 mt-24 font-weight-800 ">List Attachment</div>
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">
                <div class="cards" *ngFor="let d of dataAttachmentRevision; let i = index;">
                    <mat-card >
                        <img src="assets/images/icon/pdf.svg" *ngIf="d.file.substr(d.file.length - 3).toLowerCase() == 'pdf'" />
                        <img src="assets/images/icon/jpg.svg" *ngIf="d.file.substr(d.file.length - 3).toLowerCase()  == 'jpg' || d.file.substr(d.file.length - 3).toLowerCase() == 'jpeg'" />
                        <img src="assets/images/icon/png.svg" *ngIf="d.file.substr(d.file.length - 3).toLowerCase()  == 'png'" />
                        <!-- <button mat-button style="font-size: 10px;" (click)="opendetailphoto(d)">Open</button> -->

                        <button mat-icon-button style="font-size: 10px;"color="primary" [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                        <mat-icon  class="secondary-text">more_vert</mat-icon>                    
                        </button>
                        <mat-menu #moreMenu="matMenu">
                            
                            <button mat-menu-item aria-label="update"  (click)="opendetailphoto(d)" >
                                <mat-icon>photo_size_select_actual</mat-icon>
                                <span>Open</span>
                            </button>
                            <button mat-menu-item aria-label="delete"  (click)="deleteAttachment(d)" >
                                <mat-icon style="color: red;">delete</mat-icon>
                                <span style="color: red;">Remove</span>
                            </button>
                        </mat-menu>
                    </mat-card>
                </div>
            </div>

        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-0" fxLayout="row" fxLayoutAlign="end center" >
        <button mat-raised-button 
        fxFlex="30"  fxFlex.xs="30" 
        color="primary" 
        style="margin-right:10px; width:250px;" 
        class="mat-primary" 
        (click)="saveForm()" >
          Submit
        </button>
        <button mat-stroked-button 
        fxFlex="30"  fxFlex.xs="30"
        style="margin-right:20px; width:250px;"
        color="primary" (click)="closeDialog(true)" aria-label="Close">
            Close
        </button>
    </div>

</div>