<div id="gallery">
    <mat-grid-list  [cols]="1" rowHeight='350px'> 
            <mat-grid-tile>          
                <button style="background-color: #09d261; " mat-mini-fab (click)="previous()" >
                    <mat-icon>
                        arrow_back_ios
                    </mat-icon>
                </button> 
                <div [@slider]="selectedIndex" class="slider-container" style="margin: 20px 10px;">
                       <div class="slide" *ngFor="let image of images"> 
                           <img style="max-width: 100%; height: 300px;" [src]="picture(image)" /> 
                        </div>
                </div> 
                <button style="background-color: #09d261; " mat-mini-fab (click)="next()"  >
                    <mat-icon>
                        arrow_forward_ios
                    </mat-icon>
                </button>
            </mat-grid-tile> 
    </mat-grid-list> 
</div>