<mat-progress-bar color="primary" mode="indeterminate" value="50" *ngIf="load"></mat-progress-bar>
<mat-table #table id="parameterlist" [dataSource]="sampledata" [@animateStagger]="{value:'50'}" style="height: 70vh; overflow-y: auto;">

    <!-- Column Input -->
    <ng-container matColumnDef="no_sample" >
      <mat-header-cell *matHeaderCellDef >Sample Number</mat-header-cell>
      <mat-cell *matCellDef="let sampledata" class="text-value">{{ sampledata.no_sample }}</mat-cell>
    </ng-container>
    <!-- End Column Input -->

    <!-- Column Input -->
    <ng-container matColumnDef="sample_name">
      <mat-header-cell *matHeaderCellDef>Sample Name</mat-header-cell>
      <mat-cell *matCellDef="let sampledata" class="text-value">{{ sampledata.sample_name }}</mat-cell>
    </ng-container>
    <!-- End Column Input -->
  
    <!-- Column Input -->
    <ng-container matColumnDef="tgl_input">
      <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
        <span class="material-icons">
          date_range
        </span>
        Estimate
      </mat-header-cell>
      <mat-cell *matCellDef="let sampledata" class="text-value" fxHide fxShow.gt-md >
       {{ sampledata.tgl_input | date }} -
       {{ sampledata.tgl_selesai | date }}</mat-cell>
    </ng-container>
    <!-- End Column Input -->

    <!-- Column Input -->
    <ng-container matColumnDef="id_statuspengujian">
      <mat-header-cell *matHeaderCellDef >Status</mat-header-cell>
      <mat-cell *matCellDef="let sampledata" class="text-value">
        <div class="box-normal" *ngIf="sampledata.id_statuspengujian == 1">
            <p class="text-truncate">Normal</p>
        </div>
        <div class="box-urgent" *ngIf="sampledata.id_statuspengujian == 2">
            <p class="text-truncate">Urgent</p>
        </div>
        <div class="box-very-urgent" *ngIf="sampledata.id_statuspengujian == 3">
            <p class="text-truncate">Very Urgent</p>
        </div>
        <div class="box-custom" *ngIf="sampledata.id_statuspengujian == 4">
            <p class="text-truncate">2 Day</p>
        </div>
        <div class="box-custom" *ngIf="sampledata.id_statuspengujian == 5">
          <p class="text-truncate">1 Day<p>
      </div>
    </mat-cell>
    </ng-container>
    <!-- End Column Input --> 

    <!-- Column Input -->
    <ng-container matColumnDef="tgl_estimasi_lab">
      <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
        <span class="material-icons">
        date_range
        </span>
        Lab Estimate
      </mat-header-cell>         
      <mat-cell *matCellDef="let sampledata; let i = index" class="text-value" fxHide fxShow.gt-md >
          {{ sampledata.tgl_estimasi_lab | date }}
      </mat-cell>
   
    </ng-container>
    <!-- End Column Input -->

    <!-- Column Input -->
    <ng-container matColumnDef="lab">
      <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
       Lab
      </mat-header-cell>
      <mat-cell *matCellDef="let sampledata" class="text-value" fxHide fxShow.gt-md >
       {{ sampledata.lab }}</mat-cell>
    </ng-container>
    <!-- End Column Input -->

    <!-- Column Input -->
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let sampledata; let i = index;" fxHide fxShow.gt-md>
        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                (click)="$event.stopPropagation();">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="remove" >
                <mat-icon>file_copy</mat-icon>
                <span>Copy</span>
            </button>
            <button mat-menu-item aria-label="remove" >
              <mat-icon>insert_drive_file</mat-icon>
              <span>Paste</span>
          </button>
          <button mat-menu-item aria-label="lab edit" (click)="openDialog(sampledata)">
            <mat-icon>assignment</mat-icon>
            <span>Edit</span>
        </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <!-- End Column Input -->

    <!-- Row Column -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let sampledata; columns: displayedColumns; let i = index"
    [@animate]="{value:'*',params:{y:'100%'}}"
    [ngClass]="{'selected' : selected == sampledata.id}"
    (click)="sendMessage(sampledata)">
   </mat-row>
   <!-- End Row Column -->
  
</mat-table>