<div *ngIf="this.datacontract.length > 0" class="dialog-content-wrapper mat-primary m-0">
   
    <mat-toolbar matDialogTitle class="mat-primary m-0" style="background: linear-gradient(to bottom, #2d323e 0%, #444a58 100%);">
        <mat-toolbar-row>
            <div id="leftContainer" fxFlex="90%">
                <span class="title dialog-title" style="font-size: 14px; margin-top: 25px;">
                    {{ this.datacontract[0].contract_no }}
                </span>
                <p style="margin-top: -15px; font-size: 11px;"> Total AKG : {{ this.datacontract[0].akg_trans.length < 1 ? '0' : this.datacontract[0].akg_trans[0].jumlah }}</p>
              </div>
              <div id="rightContainer" fxFlex="10%">
               
              </div>
        </mat-toolbar-row>
    </mat-toolbar>
    
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
        <mat-table class="cert-table" #table [dataSource]="sampledata" matSort (matSortChange)="sortData($event)"
            [@animateStagger]="{value:'50'}" fusePerfectScrollbar>
           
            <!-- Column -->
            <ng-container matColumnDef="no_sample">
                <mat-header-cell *matHeaderCellDef mat-sort-header="no_sample" fxHide fxShow.gt-md>Sample Number</mat-header-cell>
                <mat-cell *matCellDef="let sampledata" fxHide fxShow.gt-md>
                    <p class="text-truncate" matTooltip="{{ sampledata.no_sample }}">{{ sampledata.no_sample }}</p>
                </mat-cell>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="sample_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header="sample_name">Sample Name</mat-header-cell>
                <mat-cell *matCellDef="let sampledata">
                    <p class="text-truncate" matTooltip="{{ sampledata.sample_name }}">{{ sampledata.sample_name }}</p>
                </mat-cell>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="status_pengujian" >
                <mat-header-cell *matHeaderCellDef mat-sort-header="status_pengujian">Status Pengujian</mat-header-cell>
                <mat-cell *matCellDef="let sampledata">
                    <div class="box-normal" *ngIf="sampledata.id_statuspengujian == 1">
                        <p class="text-truncate" matTooltip="Normal">Normal</p>
                    </div>
                    <div class="box-urgent" *ngIf="sampledata.id_statuspengujian == 2">
                        <p class="text-truncate" matTooltip="Urgent">Urgent</p>
                    </div>
                    <div class="box-very-urgent" *ngIf="sampledata.id_statuspengujian == 3">
                        <p class="text-truncate" matTooltip="Very Urgent">Very Urgent</p>
                    </div>
                    <div class="box-custom-day" *ngIf="sampledata.id_statuspengujian == 4">
                        <p class="text-truncate" matTooltip="Custom 2 Day">Custom 2 Day</p>
                    </div>
                    <div class="box-custom-days" *ngIf="sampledata.id_statuspengujian == 5">
                        <p class="text-truncate" matTooltip="Custom 1 Day">Custom 1 Day</p>
                    </div>
                </mat-cell>
            </ng-container>

             <!-- Column -->
             <ng-container matColumnDef="status_lab">
                <mat-header-cell *matHeaderCellDef mat-sort-header="status_lab" fxHide fxShow.gt-md>Status Lab</mat-header-cell>
                <mat-cell *matCellDef="let sampledata" fxHide fxShow.gt-md>
                    <p class="text-truncate" *ngIf="this.sampledata.sample_condition_cert" matTooltip="{{ this.sampledata.sample_condition_cert.user.employee_name }} | {{ this.sampledata.sample_condition_cert.inserted_at | date }} ">OK</p>
                    <p class="text-truncate" *ngIf="!this.sampledata.sample_condition_cert" matTooltip="NOT YET">NOT YET</p>
                </mat-cell>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="tgl_selesai">
                <mat-header-cell *matHeaderCellDef mat-sort-header="tgl_selesai" fxHide fxShow.gt-md>Date of Completion</mat-header-cell>
                <mat-cell *matCellDef="let sampledata" fxHide fxShow.gt-md>
                    <p class="text-truncate" matTooltip="{{ sampledata.tgl_selesai | date }}">{{ sampledata.tgl_selesai | date }}</p>
                </mat-cell>
            </ng-container>

             <!-- Column -->
             <ng-container matColumnDef="total_parameter">
                <mat-header-cell *matHeaderCellDef mat-sort-header="total_parameter" fxHide fxShow.gt-md>Total Parameter</mat-header-cell>
                <mat-cell *matCellDef="let sampledata" fxHide fxShow.gt-md>
                    <p class="text-truncate" matTooltip="{{ sampledata.parametersub[0].aggregate }}">{{ sampledata.parametersub[0].aggregate }}</p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let certData; columns: displayedColumns;" 
            class="standart"
            matRipple>

            </mat-row>
        </mat-table>

        <mat-paginator #paginator
            [length]="total"
            [pageIndex]="from"
            [pageSize]="to"
            [hidePageSize]="true"
            [showFirstLastButtons]="true"
            (page) = "paginated($event)">

        </mat-paginator>
        <div style="display: flex; justify-content: start center;"> 
            <span style="font-weight: bolder;">TOTAL SAMPLE : &nbsp;</span><br>
            <div *ngFor="let data of this.datacontract[0].count_samplelab" >
                <span *ngIf="data.id_statuspengujian == 1" style="margin-right:10px; font-size:11px;">
                     <small style="font-size: 11px; background-color:#2ecc71; color:#fff;">Normal</small> : {{ data.countid }} 
                </span>
                <span *ngIf="data.id_statuspengujian == 2" style="margin-right:10px; font-size:11px;"> 
                    <small style="font-size: 11px; background-color:#f7dc6f; color:#7d6608;">Urgent</small> : {{ data.countid }} 
                </span>
                <span *ngIf="data.id_statuspengujian == 3" style="margin-right:10px; font-size:11px;"> 
                    <small style="font-size: 11px; background-color:#e74c3c; color:#f2d7d5;">Very Urgent</small> : {{ data.countid }} 
                </span>
                <span *ngIf="data.id_statuspengujian == 4" style="margin-right:10px; font-size:11px;"> 
                    <small style="font-size: 11px; background-color:#a41708; color:#f2d7d5;">Custom 2 Day</small> : {{ data.countid }} 
                </span>
                <span *ngIf="data.id_statuspengujian == 5" style="margin-right:10px; font-size:11px;"> 
                    <small style="font-size: 11px; background-color:#590a01; color:#f2d7d5;">Custom 1 Day</small> : {{ data.countid }} 
                </span>
            </div>
        </div>
    </div>
</div>