<!-- <div style="height: 100%; overflow: auto; padding: 0px 20px">
    <mat-grid-list cols="3" rowHeight="100px" gutterSize="10px">
        <mat-grid-tile>
            <div
                style="
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                "
            >
                <mat-icon
                    class="logo-icon s-32 mr-16"
                    [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }"
                >
                    domain
                </mat-icon>
                <span
                    class="logo-text h1"
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }"
                >
                    Division
                </span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="outline">
                <mat-label>Search for Division</mat-label>
                <input
                    matInput
                    [(ngModel)]="search"
                    (input)="onSearchChange($event.target.value)"
                    placeholder="Put Division Name"
                />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                mat-flat-button
                style="width: 100%; height: 60%"
                color="primary"
                (click)="addnew()"
                [@animate]="{
                    value: '*',
                    params: { delay: '200ms', x: '-25px' }
                }"
            >
                <mat-icon>add_box</mat-icon>
                <span> Add New</span>
            </button>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="mat-elevation-z8">
        <mat-table
            class="lab-table"
            #table
            [dataSource]="datadiv"
            [@animateStagger]="{ value: '50' }"
            fusePerfectScrollbar
        >
            <ng-container matColumnDef="no">
                <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
                <mat-cell *matCellDef="let a; let i = index">
                    <p class="text-truncate">{{ i + 1 }}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="division_name">
                <mat-header-cell *matHeaderCellDef
                    >Division Name</mat-header-cell
                >
                <mat-cell *matCellDef="let a">
                    <p class="text-truncate">{{ a.division_name }}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dept_name">
                <mat-header-cell *matHeaderCellDef>Dept Name</mat-header-cell>
                <mat-cell *matCellDef="let a">
                    <p class="text-truncate">
                        {{ a.dept ? a.dept.dept_name : "-" }}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef style="text-align: center"
                    >Action</mat-header-cell
                >
                <mat-cell *matCellDef="let a">
                    <button mat-icon-button color="primary" (click)="addnew(a)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <div>
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="deleteaction(a)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let a; columns: displayedColumns"> </mat-row>
        </mat-table>
    </div>
</div> -->

<mat-card style="margin: 15px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field
            appearance="outline"
            fxFlex="33"
            style="margin-right: 10px; font-size: 11px"
        >
            <mat-label> <mat-icon>search</mat-icon>Search Division</mat-label>
            <input
                matInput
                [(ngModel)]="search"
                (input)="onSearchChange($event.target.value)"
                type="search"
            />
        </mat-form-field>
        <button
            mat-flat-button
            color="primary"
            style="margin-right: 10px"
            matTooltip="Add Division"
            (click)="addnew()"
        >
            <mat-icon>add_box</mat-icon>
        </button>
    </div>
    <table
        #table
        mat-table
        [dataSource]="datadiv"
        [@animateStagger]="{ value: '50' }"
        fusePerfectScrollbar
        matSort
        (matSortChange)="sortData($event)"
        style="width: 100%"
    >
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef>No</th>
            <td mat-cell *matCellDef="let a; let i = index">
                <p class="text-truncate">{{ i + 1 }}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="division_name">
            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header="division_name"
            >
                Division Name
            </th>
            <td mat-cell *matCellDef="let a">
                <p class="text-truncate">{{ a.division_name }}</p>
            </td>
        </ng-container>

        <ng-container matColumnDef="dept_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="dept_name">
                Dept Name
            </th>
            <td mat-cell *matCellDef="let a">
                <p class="text-truncate">
                    {{ a.dept ? a.dept.dept_name : "-" }}
                </p>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
                Action
            </th>
            <td mat-cell *matCellDef="let a">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-icon-button color="primary" (click)="addnew(a)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <div>
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="deleteaction(a)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let a; columns: displayedColumns"></tr>
    </table>
</mat-card>
