<div  *ngIf="teamForm" class="dialog-content-wrapper mat-primary m-0">
    <form name="teamForm" [formGroup]="teamForm" class="product w-100-p" fxLayout="column" fxFlex>
      <mat-toolbar matDialogTitle class="mat-primary m-0" style="background: linear-gradient(to bottom, #2d323e 0%, #444a58 100%);">
        <mat-toolbar-row>
            <span class="title dialog-title"> 
           Select Team
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
       
            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-select 
                    name="team" formControlName="team"
                    placeholder="Select Team"
                    class="select-me"
                    style="display: flex;
                    justify-content: center;
                    align-items: center;
                    color:white !important;"
                    [(ngModel)]="modeselect">
                    <mat-option *ngFor="let groupdata of groupdata" [value]="groupdata.id">
                        {{ groupdata.group_name }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
    </div>
    
    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" aria-label="Submit" 
        [disabled]="load == true" 
        (click)="saveForm()" >
          SUBMIT
          <mat-icon><mat-spinner diameter="20">
          </mat-spinner></mat-icon>
        </button>
        <button mat-button class="mat-primary" aria-label="Close" (click)="closeModal()" >
            CLOSE
        </button>
    </div>
    </form>
  </div>