	<webcam 
	[height]="500" 
	[width]="500" 
	[trigger]="triggerObservable" 
	(imageCapture)="handleImage($event)" 
	[allowCameraSwitch]="allowCameraSwitch"
	[switchCamera]="nextWebcamObservable"
	[videoOptions]="videoOptions"
	[imageQuality]="0.8"
	(cameraSwitched)="cameraWasSwitched($event)"
	(initError)="handleInitError($event)"
	*ngIf="!webcamImage">
    ></webcam>

	<div class="snapshot" *ngIf="webcamImage">
		<img [src]="webcamImage.imageAsDataUrl" alt="webcam image">
	  </div>
	  
	
	<!-- <video [class.show]="!isCaptured" crossorigin="anonymous" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
		autoplay></video>
	<canvas [class.show]="isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
		[height]="HEIGHT"></canvas> -->

<div class="snap-container">
	<button mat-raised-button *ngIf="!isCaptured" (click)="triggerSnapshot()">Snap Photo</button>
	<button mat-raised-button *ngIf="isCaptured" (click)="removeCurrent()">Take Another</button>
	<button mat-raised-button (click)="closeData()">Close</button>
</div>