<div
    id="form-leave"
    class="form-leave"
    style="overflow: auto; height: 93vh; background-color: #f7f7f7"
>
    <div class="content">
        <mat-card
            class="mat-elevation-z0"
            style="width: 90%; margin: 20px auto 10px auto"
        >
            <mat-card-title>
                <button mat-icon-button>
                    <mat-icon style="margin-bottom: 10px"
                        >keyboard_arrow_left</mat-icon
                    >
                </button>
                <strong>Form Leave</strong>
            </mat-card-title>
            <mat-card-content
                fxLayout="column"
                fxLayoutAlign="space-between none"
            >
                <h2
                    class="text-title"
                    style="margin-top: 20px; font-size: 18px; font-weight: 700"
                >
                    Leave History Detail
                </h2>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px; margin-right: 10px"
                    fxFlex="50"
                >
                    <mat-label style="color: black"> asd</mat-label>
                    <input style="color: black" matInput disabled />
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px"
                    fxFlex="50"
                >
                    <mat-label style="color: black"> asd </mat-label>
                    <input style="color: black" matInput disabled />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px; margin-right: 10px"
                    fxFlex="50"
                >
                    <mat-label style="color: black">asd</mat-label>
                    <input style="color: black" matInput disabled />
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px"
                    fxFlex="50"
                >
                    <mat-label style="color: black">asd</mat-label>
                    <input style="color: black" matInput disabled />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field
                    appearance="outline"
                    fxFlex="100"
                    style="font-size: 11px; margin-right: 10px"
                >
                    <mat-label>Sick</mat-label>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px; margin-right: 10px"
                    fxFlex="50"
                >
                    <mat-label>Date</mat-label>
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px"
                    fxFlex="50"
                >
                    <mat-label>Till Date</mat-label>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px; margin-right: 10px"
                    fxFlex="50"
                >
                    <mat-label>Time</mat-label>
                    <input
                        style="color: black"
                        matInput
                        type="time"
                        name="time"
                        required
                        value="08:00:00"
                    />
                </mat-form-field>
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px"
                    fxFlex="50"
                >
                    <mat-label>Until Time</mat-label>
                    <input
                        style="color: black"
                        matInput
                        type="time"
                        name="time"
                        required
                        value="17:00:00"
                    />
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <mat-form-field
                    appearance="outline"
                    style="font-size: 11px"
                    floatLabel="always"
                    fxFlex="100"
                >
                    <mat-label>Description Leave</mat-label>
                    <textarea matInput rows="6" required> </textarea>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</div>

<!-- <div style="width: 100%; text-align: center; vertical-align: middle; margin-top: 10%;">
    <img  src="assets/images/uncons(2).gif" />
</div> -->
