<div
    style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    "
>
    <mat-form-field appearance="fill" style="width: 100%; font-size: 12px">
        <mat-label>Confirmation</mat-label>
        <textarea
            matInput
            [(ngModel)]="memoexp"
        ></textarea>
    </mat-form-field>
    <div
        style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
        "
    >
        <button mat-raised-button color="primary" (click)="saveclose('save')">
            Save
        </button>
        <button mat-raised-button color="warn" (click)="saveclose('close')">
            Cancel
        </button>
    </div>
</div>
